body {
	background-image: url("himg.jpg");
	background-repeat: repeat;
	font-family: 'Asap', sans-serif;
	letter-spacing: 2px;
}

 header {
	background: linear-gradient(45deg, rgb(110, 12, 130), rgb(168, 245, 86), rgb(110, 12, 130));
	color: white;
	text-align: center;
	font-size: 2em;
	width: 100%;
	height: 4em;
	padding-top: 2px;
	letter-spacing: 7px;
	min-height: 4em;
	

}

#flex {
	margin-top: 5em;
	display: flex;
	justify-content: space-between;
	background-color: transparent;

}

.item1 {
	width: 30%;
	color: white;
	align-self: flex-start;
	padding-left: 5em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: justify;
	background: linear-gradient(-180deg, rgb(107, 0, 145), rgb(0, 66, 181));
	border-radius: 1em;
}

.item1:hover {
	font-size: 25px;
}

.item2 {
	width: 30%;
	color: white;
	align-self: flex-end;
	padding-right: 5em;
	text-align: justify;
	background: linear-gradient(-180deg, rgb(107, 0, 145), rgb(0, 66, 181));
	border-radius: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-top: 1em;
}

.item2:hover {
	font-size: 25px;
}

@media (max-width:600px) {
	body {
		background-image: url(himg2.jpg);
		background: linear-gradient(45deg, rgb(3, 236, 252), rgb(110, 255, 144));
		color: rgb(86, 6, 148);
	}
	.item1 {
		background: linear-gradient(-180deg, rgb(168, 245, 86), rgb(107, 0, 145), rgb(168, 245, 86));

	}
	header {
		overflow: hidden;
	}
}
	